@media (max-width: 768px) {

    .form {
        margin: 10px;
        display: flex;
        flex-wrap: wrap;
        
    }
    
    .form__input {
        margin: 0 auto;
        min-width: 100%;  
    }
    
    .form__submitButton {
        margin: 0 auto;
        margin-top: 10px;
        min-width: 100%;
    }

    .section__buttons {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    gap: 15px;
    flex-direction: column;
}
    .section__button {
    padding-top: 5px;
    padding-bottom: 5px;
}
    .section__header--modifier {
    display: grid;
    grid-template-columns: auto;
}
}