@media (max-width: 768px) {
    .section__header {
        font-size: 150%;
    }

    .form {
        margin: 10px;
        display: flex;
        flex-wrap: wrap;
        
    }
    
    .form__input {
        margin: 0 auto;
        min-width: 100%;  
    }
    
    .form__submitButton {
        margin: 0 auto;
        margin-top: 10px;
        min-width: 100%;
    }
}