@media (max-width: 768px) {
    .header__form {
        text-align: center;
    }
    .header__main {
        text-align: center;
    }
    .form {
        margin: 20px;
    }
    .form__input {
        margin: 0 auto;
        min-width: 100%;  
    }
    .form__submitButton {
        margin: 0 auto;
        margin-top: 10px;
        min-width: 100%;
    }
}