.section {
    margin: 10px 0px;
    box-shadow: 0px 0px 5px 0px #b3b3b3;
}

.section__header {
    font-size: 20px;
    font-weight: 900;
    margin-left: 10px;
}

.section__content {
    padding: 10px;
    background-color: #ffffff;
    border-width: 0px;
    border-bottom: 2px;
    border-style: solid;
    border-color: #e6e6e6;
}