html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

.container {
    background-color: hsl(0, 0%, 90%);
    font-family: 'Lato', sans-serif;
    word-break: break-word;
    max-width: 900px;
    min-width: 320px;
    margin: 0 auto;



    /* display: flex;
    justify-content: center; */
   /* Ten flex tutaj też finalnie okazał się niepotrzebny chyba i możliwe, że utrudnił umieszczanie elementów */
    
  
}